body {
    font-family: "Arial", "Meiryo", sans-serif;
}

html{
    font-size: 20px;
    text-align: center;
}

h1{
    font-size: 2rem;
    letter-spacing: 1.5em;
    border-bottom: solid 3px rgb(115, 115, 114);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px gray;
}

.first-headingM{
    color: skyblue;
}

.first-headingP{
    color: rgb(255, 192, 203)
}

#second-heading, #fource-heading, #six-heading{
    color:rgb(255, 192, 203)
}

#first-headingM,#third-heading, #five-heading, #seven-heading{
    color: skyblue;
}

#parent > p {
    font-weight: bold;
}